src/test/resources/mule-config/properties/testserver-OptAccept.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
   xmlns:coap-server="http://www.mulesoft.org/schema/mule/coap-server"
   xmlns:spring="http://www.springframework.org/schema/beans"
   xmlns:context="http://www.springframework.org/schema/context"
   xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:validation="http://www.mulesoft.org/schema/mule/validation" 
   
   xsi:schemaLocation="
   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd 
   http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.9/mule.xsd 
   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd 
   http://www.mulesoft.org/schema/mule/coap-server http://www.teslanet.nl/schema/mule/coap-server/2.0/mule-coap-server.xsd 
   http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/3.9/mule-validation.xsd
   ">

  

   <coap-server:config name="config" exchangeLifetime="1" logCoapMessages="true">
      <coap-server:resources>
         <coap-server:resource name="opt_accept">
            <coap-server:resources>
               <coap-server:resource name="get_me" get="true"/>
               <coap-server:resource name="put_me" put="true"/>
               <coap-server:resource name="post_me" post="true"/>
               <coap-server:resource name="delete_me" delete="true"/>
            </coap-server:resources>
         </coap-server:resource>
      </coap-server:resources>

   </coap-server:config>


   <flow name="listen-all">
      <coap-server:listen uri="/*" config-ref="config"/>
      <set-payload value="#[org.apache.commons.lang3.SerializationUtils.serialize( message.inboundProperties.'coap.opt.accept')]"/>
   </flow>
</mule>
