src/test/resources/mule-config/observe/testserver1.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:coap-server="http://www.mulesoft.org/schema/mule/coap-server"
	xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:validation="http://www.mulesoft.org/schema/mule/validation"

	xsi:schemaLocation="
   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd 
   http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.9/mule.xsd 
   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd 
   http://www.mulesoft.org/schema/mule/coap-server http://www.teslanet.nl/schema/mule/coap-server/2.0/mule-coap-server.xsd 
   http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/3.9/mule-validation.xsd
   ">
	<spring:beans>
		<spring:bean  id="storage" class="java.util.HashMap"/>
	</spring:beans>
	
	<coap-server:config name="config" exchangeLifetime="1"
		logCoapMessages="true">
		<coap-server:resources>
			<coap-server:resource name="service">
				<coap-server:resources>
					<coap-server:resource name="observe_me" get="true"
						put="true" observable="true" />
				</coap-server:resources>
			</coap-server:resource>
		</coap-server:resources>
	</coap-server:config>

	<flow name="listen">
		<coap-server:listen uri="/service/observe_me" config-ref="config" />

		<set-variable variableName="method"
			value="#[ message.inboundProperties['coap.request.code']]" doc:name="set method" />
			
		<choice doc:name="by method">
			<when expression="#[ flowVars.method == 'GET']">
				<invoke object-ref="storage" method="get" methodArguments="'payload'"/>
		
			</when>
			<when expression="#[ flowVars.method == 'PUT']">
				<byte-array-to-string-transformer/>				
				<invoke object-ref="storage" method="put" methodArguments="'payload', #[payload]"/>
				<coap-server:resource-changed
					config-ref="config" uri="/service/observe_me"
					doc:name="changed /service/observe_me" />
				<message-properties-transformer
					overwrite="true" doc:name="responsecode = changed">
					<add-message-property key="coap.response.code"
						value="CHANGED" />
				</message-properties-transformer>
			</when>
			<otherwise>
				<set-payload value="not expected" doc:name="Set Payload" />
			</otherwise>
		</choice>
	</flow>

</mule>
