src/test/resources/mule-config/basic/testserver1.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
   xmlns:coap-server="http://www.mulesoft.org/schema/mule/coap-server"
   xmlns:spring="http://www.springframework.org/schema/beans"
   xmlns:context="http://www.springframework.org/schema/context"
   xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.9/mule.xsd 
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd 
http://www.mulesoft.org/schema/mule/coap-server http://www.teslanet.nl/schema/mule/coap-server/2.0/mule-coap-server.xsd 
   ">

   <context:property-placeholder location="test1.properties" ignore-resource-not-found="true"/>

   <coap-server:config name="config" exchangeLifetime="1" logCoapMessages="true">
      <coap-server:resources>
         <coap-server:resource name="basic">
            <coap-server:resources>
               <coap-server:resource name="get_me" get="true"/>
               <coap-server:resource name="do_not_get_me" get="false"/>
               <coap-server:resource name="get_me2"/>
               <coap-server:resource name="put_me" put="true"/>
               <coap-server:resource name="do_not_put_me" put="false"/>
               <coap-server:resource name="do_not_put_me2"/>
               <coap-server:resource name="post_me" post="true"/>
               <coap-server:resource name="do_not_post_me" post="false"/>
               <coap-server:resource name="do_not_post_me2"/>
               <coap-server:resource name="delete_me" delete="true"/>
               <coap-server:resource name="do_not_delete_me" delete="false"/>
               <coap-server:resource name="do_not_delete_me2"/>
            </coap-server:resources>
         </coap-server:resource>
      </coap-server:resources>

   </coap-server:config>


   <flow name="listen-all">
      <coap-server:listen uri="/*" config-ref="config"/>
      <choice>
         <when expression="#[payload == empty]">
            <set-payload value="#[message.inboundProperties.'coap.request.uri']"/>
         </when>
         <otherwise>
            <byte-array-to-string-transformer/>
            <set-payload value="#[message.inboundProperties.'coap.request.uri' + payload]"/>
         </otherwise>
      </choice>
   </flow>
</mule>
